// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// @type List

/// Regular font family
$default-font: Arial, Helvetica, sans-serif !default;
$busint-font-light: 'attAleckSans-Light';
$busint-font-regular: 'attAleckSans-Regular';
$busint-font-medium: 'attAleckSans-Medium';
$busint-font-bold: 'attAleckSans-Bold';


/// Main brand colours
/// @type Color
$busint-white: #ffffff;
$busint-black: #000000;
$busint-light-blue-bg: #e6f5fc;
$busint-light-blue: #18b9ed;
$busint-text-blue: #009fdb;
$busint-red: #f00023;
$busint-dark-gray: #999999;
$busint-gray: #666666;
$busint-dark-gray: #333333;
$busint-light-gray: #f6f7f7;
$busint-footer-link: #444444;
$busint-cell-color: #dfdfdf;
$busint-anchor-color: #6a8db6;



$main-heading-font-size: 4.5rem;
$section-h2-font-size: 2.8rem;
$section-h3-font-size: 2.2rem;
$default-font-size: 1.6rem;



/// Breakpoints
/// using https://github.com/at-import/breakpoint
/// Documentation: https://github.com/at-import/breakpoint/wiki
/// Units without a min/max width are based on MIN-WIDTH
/* E.g.
@include breakpoint($medium-2) {
	width: 30%;
}
*/


$small-device: (min-width 320px);
$medium-device: (min-width 480px);
$large-device: (min-width 576px);
$tablet: (min-width 768px);
$small-desktop: (min-width 1024px);
$medium-desktop: (min-width 1200px);
$large-desktop: (min-width 1440px);


$device-height-md: "screen and (min-width: 1200px) and (max-height: 700px)";



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../' !default;
